{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<h2>{% trans "Образцы исковых заявлений и других обращений в суд" %}</h2>
<div class="row">
	<div class="card" style="width:100%; margin:10px">
		<div class="card-header">
			<h5><a href="{% static 'sample/zayavlenie_o_vzyskanii_alimentov.docx' %}">Заявление о взыскании алиментов</a></h5>
		</div>
		<div class="card-body">					
			<div class="row">
			</div>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>	
	<div class="card" style="width:100%; margin:10px">
		<div class="card-header">
			<h5><a href="{% static 'sample/zayavlenie_o_priznanii_grazhdanina_bezizvestno_otsutstvuyushchim.docx' %}">Заявление о признании гражданина безизвестно отсутствующим</a></h5>
		</div>
		<div class="card-body">					
			<div class="row">
			</div>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>	
	<div class="card" style="width:100%; margin:10px">
		<div class="card-header">
			<h5><a href="{% static 'sample/zayavlenie_ob_ustanovlenii_fakta_prinyatiya_nasledstva.docx' %}">Заявление об установлении факта принятия наследства</a></h5>
		</div>
		<div class="card-body">					
			<div class="row">
			</div>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>
	<div class="card" style="width:100%; margin:10px">
		<div class="card-header">
			<h5><a href="{% static 'sample/iskovoe_zayavlenie_o_vzyskanii_materialnogo_ushcherba.docx' %}">Исковое заявление о взыскании материального ущерба</a></h5>
		</div>
		<div class="card-body">					
			<div class="row">
			</div>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>
	<div class="card" style="width:100%; margin:10px">
		<div class="card-header">
			<h5><a href="{% static 'sample/iskovoe_zayavlenie_o_vozmeshchenii_moralnogo_vreda.docx' %}">Исковое заявление о возмещении морального вреда</a></h5>
		</div>
		<div class="card-body">					
			<div class="row">
			</div>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>	
	<div class="card" style="width:100%; margin:10px">
		<div class="card-header">
			<h5><a href="{% static 'sample/iskovoe_zayavlenie_o_razdele_imushchestva.docx' %}">Исковое заявление о разделе имущества</a></h5>
		</div>
		<div class="card-body">					
			<div class="row">
			</div>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>	
	<div class="card" style="width:100%; margin:10px">
		<div class="card-header">
			<h5><a href="{% static 'sample/hodataystvo_o_peresmotre_vstupivshih_v_zakonnuyu_silu_sudebnyh_aktov_v_kassacionnom_poryadke.docx' %}">Ходатайство о пересмотре вступивших в законную силу судебных актов в кассационном порядке</a></h5>
		</div>
		<div class="card-body">					
			<div class="row">
			</div>
		</div>
		<div class="card-footer text-muted">
		</div>
	</div>	
</div>
{% endblock content %}