{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<h2>{% trans "Services" %}</h2>
<div class="row">
	<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
				Юридические консультации
			</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
				Защита в уголовном процессе
			</button>
		</li>			
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">
				Медиация
			</button>
		</li>			
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
			<h3>Юридические консультации</h3>
			<p>Осуществляем консультацию по таким направлениям как:</p>
			<ul>
				<li>споры, вытекающие из договорных отношений;</li>
				<li>взыскание задолженности;</li>
				<li>истребование имущества из чужого незаконного владения;</li>
				<li>возмещения ущерба при затоплении квартиры;</li>
				<li>дорожно-транспортные происшествия;</li>
				<li>вопросы оформления и оспаривания наследства;</li>
				<li>составление гражданско-правовых документов;</li>
				<li>споры, вытекающие из договоров страхования;</li>
				<li>международные перевозки (транспортная экспедиция)</li>
				<li>расторжение брака;</li>
				<li>установление и оспаривание отцовства;</li>
				<li>раздел совместно нажитого имущества;</li>
				<li>взыскание алиментов на содержание несовершеннолетних детей и нетрудоспособных супругов;</li>
				<li>определение порядка общения с ребенком;</li>
				<li>трудовые споры;</li>
				<li>взыскание задолженности по заработной плате и т.д.</li>
			</ul>			
		</div>
		<div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">
			<h3>Защита в уголовном процессе</h3>
			<p>Услуги адвоката по уголовным делам:</p>
			<ul>
				<li>Бесплатная консультация</li>
				<li>Глубокий и подробный анализ ситуации</li>
				<li>Выстраивание стратегии защиты и поиск альтернативных методов содействия уголовному процессу</li>
				<li>Досудебное урегулирование процесса ссылка на досудебное</li>
				<li>Контроль соблюдения прав нашего клиента в случаях задержания, помещения под стражу и др.</li>
				<li>Рекомендации по поведению на допросах, при обысках, в суде</li>
				<li>Составление любых запросов, ходатайств, заявлений, исков и т.д.</li>
				<li>Инициирование проведения независимого расследования</li>
				<li>Сбор фактов для смягчения обстоятельств</li>
				<li>Сбор характеристик для дополнительного смягчения приговора суда</li>
				<li>Участие в судебных заседаниях ссылка на представительство в суде</li>
				<li>Работа с жалобами и ходатайствами ссылка на раздел с аппеляциями</li>
				<li>Снятие и досрочное погашение судимости ссылка на УДО</li>
			</ul>				
		</div>
		<div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="profile-tab">
			<h3>Медиация</h3>
			<p>Центр медиации ЧУ «Содействие и право» оказывает помощь в разрешении споров и конфликтов путем применения процедуры медиации.</p>
			<h4>Что такое медиация?</h4>
			<p>Термин «медиация» происходит от латинского слова слова «mediare», что означает посредничать.</p>
			<p>Медиация — это новая форма альтернативного урегулирования споров с участием третьей, нейтральной, беспристрастной, не заинтересованной в конфликте стороны. В качестве этой стороны выступает медиатор, который помогает участникам спора или судебного разбирательства выработать определенное соглашение, при этом стороны полностью контролируют процесс принятия решения по урегулированию спора и условия его разрешения.</p>
			<p>Медиация может применяться в спорах по гражданским, трудовым, семейным и иным правоотношениям, а также по уголовным делам небольшой и средней тяжести. При активном обращении к медиации как граждан, так и юридических лиц можно существенно снизить нагрузку на судебную систему,  тем самым повышая качество решения наиболее крупных дел. Согласно международной статистике 30-40 % всех споров проходят через процедуру медиации, в 85 % из них были достигнуты положительные результаты.</p>
			<p>В Казахстане Закон «О медиации» вступил в силу 5 августа 2011 года. Настоящий Закон регулирует общественные отношения в сфере организации медиации в РК, определяет ее принципы и процедуру проведения, а также статус медиатора.</p>
			<h4>Основополагающие принципы медиации:</h4>
			<ul>
				<li>добровольность;</li>
				<li>конфиденциальность;</li>
				<li>взаимоуважение;</li>
				<li>равноправие сторон;</li>
				<li>нейтральность и беспристрастность медиатора;</li>
				<li>прозрачность процедуры.</li>
			</ul>
			<h4>Чем отличается медиация от судебного разбирательства?</h4>
			<p>Главное к чему стремится медиация – это достижение взаимовыгодного и мирного соглашения, удовлетворяющего обе стороны и снижающего уровень конфликтности. В отличие от судебного процесса при медиации не бывает «виновных» или «невиновных» сторон. Так как принципы этой области права предусматривают не наказание преступников путем лишения свободы, а защиту и восстановление прав и свободы человека. Другими словами, медиация стремится по возможности не доводить дело до суда.</p>
			<p>Другое ее достоинство в существенно низком уровне расходов, нежели при судебном разбирательстве, а также в экономии времени. Суд же предполагает длительное решение вопроса, которое может затянуться на месяцы. Неоднократно назначаются судебные заседания, на которые, кстати, представители одной из сторон могут и не явиться, тем самым усугубляя положение.  И тут выходят на первый план следующие особенности медиации – добровольность сторон и неформальность ускоренной процедуры. На решение спора медиатору дается всего 30 дней.  По определенным причинам этот срок может быть и продлен, но не может превышать 60 дней.</p>
			<p>В суде стороны действуют друг против друга, а при медиации – сотрудничают.</p>
			<p>Судья назначается, а медиатора выбирают.</p>
			<p>Судья принимает решение в строгом соответствии с законом, а медиатор – с учетом интересов сторон, но в рамках закона.</p>
			<p>Суд – процесс публичный, а медиация обеспечивает  конфиденциальность, что не позволяет медиатору разглашать информацию, ставшую известной в ходе процесса без соглашения стороны, предоставившей ее. Следовательно, не разрешается допрашивать медиатора в качестве свидетеля.</p>
			<p>Стороны согласованно решают обратиться к медиатору или нет. В случаях, когда решение проблемы таким путем не предоставляется возможным, за ними сохраняется право обратиться в суд. При медиации стороны непременно рассчитывают на равные права, а также на них возлагаются равные обязанности.</p>
			<p>Также стороны могут по своему усмотрению договориться о месте проведения медиации и о языке, который будет использоваться в ходе проведения медиации. С согласия сторон медиатор определяет дату и время проведения медиации.</p>
			<h4>Что рассматривается в рамках медиации</h4>
			<ul>
				<li>Межкорпоративные и внутрикорпоративные споры.</li>
				<li>Споры в банковской и страховой сфере.</li>
				<li>Сопровождение проектов, реализация которых затрагивает интересы многих сторон.</li>
				<li>Конфликты на работе.</li>
				<li>Семейные споры.</li>
				<li>Споры, связанные с авторским правом и интеллектуальной собственностью.</li>
				<li>Медиация в образовании.</li>
				<li>Межкультурные конфликты, и многое другое.</li>
			</ul>			
		</div>
	</div>		
</div>
{% endblock content %}